.app {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

.link-button {
  padding: 2.5%;
  width: 200px;
  font-size: medium;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}
.link-button:hover {
  background-color: rgba(214, 159, 225, 0.297);
}

.app-header {
  display: flex;
  height: 7vh;
  padding: 1vh;
  background-color: rgba(214, 159, 225, 0.297);
  justify-content: center;
  align-items: center;
}

.app-footer {
  display: flex;
  height: 10vh;
  padding: 1vh;
  margin-top: 2vh;
  background-color: rgba(47, 44, 48, 0.54);
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.app-footer h5 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.app-footer a {
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #4d4b4b;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}

.confirm-button {
  cursor: pointer;
  height: 4vh;
  width: 4vh;
  padding-right: 3vh;
  font-size: large;
  transition: all 0.2s;
  text-align: center;
}

.confirm-button:hover {
  background-color: rgba(214, 159, 225, 0.297);
}

.save-button {
  padding: 0.5%;
  width: 180px;
  font-size: medium;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}
.save-button:hover {
  background-color: rgba(214, 159, 225, 0.297);
}

.recipe-card {
  height: 25vh;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 0.8%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  height: auto;
  overflow: auto;
}

.recipe-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
}

* {
  font-family: Raleway, sans-serif;
}

.login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  min-height: 70vh;
}

.login-container {
  background: linear-gradient(#d0adcc, #f5e0f4);
  position: relative;
  height: 600px;
  width: 360px;
  box-shadow: 0px 0px 24px #6363633a;
  text-align: center;
}

.login-content {
  z-index: 1;
  position: relative;
  height: 100%;
}

.login {
  padding: 30px;
  padding-top: 56px;
}

.login-container {
  padding: 20px 0px;
  position: relative;
}

.input-field {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  margin-bottom: 10px;
  transition: 0.2s;
}

.input-field:active,
.input-field:focus,
.input-field:hover {
  outline: none;
  border-bottom-color: #6a679e;
}

.input-button {
  background: #fff;
  font-size: 14px;
  padding: 16px 20px;
  border: 1px solid #d4d3e8;
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  align-items: center;
  width: 100%;
  color: #483749;
  cursor: pointer;
  transition: 0.2s;
}

.input-button:active,
.input-button:focus,
.input-button:hover {
  border-color: #6a679e;
  outline: none;
}

.link-text {
  margin-top: 100px;
}

.header-login {
  position: absolute;
  right: 0%;
  margin-right: 30px;
  cursor: pointer;
}
