.App {
  text-align: center;
}

.link-button {
  padding: 2.5%;
  width: 200px;
  font-size: medium;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}
.link-button:hover {
  background-color: rgba(214, 159, 225, 0.297);
}

.app-header {
  display: flex;
  height: 10vh;
  padding: 1vh;
  background-color: rgba(214, 159, 225, 0.297);
  justify-content: center;
  align-items: center;
}
